/*GENERAL*/
body,html{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-size: 17px;
	font-family: 'EB Garamond', serif;
	-webkit-font-smoothing: antialiased;
}

*{
	margin:0;
	padding:0;
}
a{
	color: #3d464d;
	text-decoration: none;
    transition: .15s;
}
a:hover{
	opacity: .5;
}

header{
    height: 640px;
    width: 100%;
    background: url("../img/cafe1.jpg") no-repeat center center fixed;
	background-size: cover;
    text-align: center;
    color: #A58E78;
}



.header_text{
    font-size: 1.8em;
    font-family: "Didot";
    text-align: center;
    color: #A58E78;
    padding-top: 230px;
	letter-spacing: 10px;
	-webkit-animation: fadeIn .6s linear .6s both;
	-moz-animation: fadeIn .6s linear .6s both;
	-o-animation: fadeIn .6s linear .6s both;
	-ms-animation: fadeIn .6s linear .6s both;
	animation: fadeIn .6s linear .6s both;
}

.subtitle{
	-webkit-animation: fadeIn 1s linear 1s both;
	-moz-animation: fadeIn 1s linear 1s both;
	-o-animation: fadeIn 1s linear 1s both;
	-ms-animation: fadeIn 1s linear 1s both;
	animation: fadeIn 1s linear 1s both;
}

.logos{
    text-align: center;
    padding: 50px;
}

.logos li{
    display: inline-block;
    margin: 10px;
}






/*ANIMATION*/
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(70px);}
	100% {-webkit-transform: translateX(0px);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(70px); opacity: 0;}
	100% {-moz-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(70px); opacity: 0;}
	100% {-o-transform: translateX(0px); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(70px); opacity: 0;}
	100% {-ms-transform: translateX(0px); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(70px); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
